<template>
  <section class="overlay" if.bind="spinnerAllowed" >
    <md-progress md-type="circular" md-color.bind="color"
        if.bind="spinnerAllowed">
    </md-progress>
  </section>
  <require from='./nav_bar/components/nav-bar'></require>
  <nav-bar router.bind="router"></nav-bar>
  <main class.bind="mainStyle">
    <router-view></router-view>
  </main>
  <footer md-footer>
    <div class="footer-copyright">
      <div class="container">
        <p><span translate="[html]footer.copyright">Copyright &copy; Avantica</span>
         <small class="hide-on-med-and-down" translate="[html]footer.feedback-request">
           | Do you want to send feedback? Drop us a line to
           <a href="mailto:xinef@avantica.net">xinef@avantica.net</a>
         </small>
       </p>
      </div>
    </div>
  </footer>
</template>
